<html>
	<head>
		<title>
			Biotel
		</title>	
	</head>
	<body class="body">
		<div class="nav">
			<ul>
  				<li><a href="#home">Home</a></li>
  				<li><a href="#news">Products</a></li>
  				<li><a href="#contact">Contact</a></li>
  				<li><a href="#about">Careers</a></li>
</ul>
		</div>
	</body>
</html>